@font-face {
    font-family:'Bradley Hand ITC Standard'; src: url('BRADHITC.ttf'); format('truetype');
}

h1, h2 {font-family:'Bradley Hand ITC Standard'}



.jumbotron {background-image: url("backgroundimage.jpg");}

}

h1 {
    animation: einblenden 1s;
    -moz-animation: einblenden 1s; /* Für Firefox */
    -webkit-animation: einblenden 1s; /* Für Safari und Chrome */
    -o-animation: einblenden 1s; /* Für Opera */
}

@keyframes einblenden {
    from { opacity:0; }
    to { opacity:1; }
}

@-moz-keyframes einblenden { /* Für Firefox */
    from { opacity:0; }
    to { opacity:1; }
}

@-webkit-keyframes einblenden { /* Für Safari und Chrome */
    from { opacity:0; }
    to { opacity:1; }
}

@-o-keyframes einblenden { /* Für Opera */
    from { opacity:0; }
    to { opacity:1; }
}